.board-container {
  display: grid;
  grid-template-columns: (1fr, 20%);
  height: 100vh;
  width: 100vw;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  width: 90vh;
  height: 90vh;
  position: absolute;
  padding-left: 27%;
  padding-top: 20px; 
}


.player-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-size: 24px;
  align-items: center;
  text-align: center;
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.blankText{
  color:aliceblue;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
.speederText{
  color:green;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.lavaText{
  color:#ff0000;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.mudText{
  color:#753107;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
