
.grid {
  border-color: black;
  border: 1px solid;
  width: auto;
  height: auto;
}

.speeder {
  background-color: green;
}

.lava {
  background-color: #ff0000;
}

.mud {
  background-color:  #753107 ;
}

.player{
  background-color: #0099ff;
  animation: blink 1s linear infinite;
  -webkit-animation: backgroundColor 2s linear infinite;
  height: 100%;
  width: 100%;
}

.finish{
  background-color:  #0099ff; 
  animation: blink 2s linear infinite;
  height: 100%;
  width: 100%;
}

@keyframes blink {
  1%, 3% {opacity: 0;}
  2%, 4% {opacity: 1;}
}

@-webkit-keyframes backgroundColor
{
    0%   {background: purple; }
    20% {background: yellow; }
    40% {background: pink; }
    60% {background: green; }
    80% {background: orange; }
    100% {background: purple; }
}
