.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  width: 100%;
}

.grid {
  border-color: black;
  border: 1px solid;
  
}

.speeder {
  background-color: green;
}

.lava {
  background-color: #ff0000;
}

.mud {
  background-color:  #753107 ;
}