
.grid {
  /* border-color: black;
  border: 1px solid; */
  width: auto;
  height: auto;
}

.speeder {
  background-color: green;
}

.lava {
  background-color: #ff0000;
}

.mud {
  background-color:  #753107 ;
}

.player{
  background-color: #0099ff;
  height: 100%;
  width: 100%;
}

.finish{
  background-color:  #fdf903; 
  height: 100%;
  width: 100%;
}